@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.customizedCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 60px;

  /* background-color: rgb(224, 202, 202); */
}

body {
  background-color: white;
}

.colouredOne {
  background-color: #242323;
  height: 70px;
  margin-top: 50px;
  color: white;
  text-align: center;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  font-weight: bold;
  /* font-family: "Bebas Neue", serif; */
  font-family: "Open Sans", sans-serif;
  padding: 20px;
  font-size: 25px;
  /* opacity: 0.5; */
}

.colouredTwo {
  background-color: #242323;
  height: 70px;
  margin-top: 50px;
  color: white;
  text-align: center;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  font-weight: bold;
  /* font-family: "Bebas Neue", serif; */
  font-family: "Open Sans", sans-serif;
  padding: 20px;
  font-size: 25px;
}
body {
  height: 3000px;
}
.articlesCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.whiteOne {
  height: 100px;
  background-color: white;
}

.whiteTwo {
  background-color: white;
  height: 100px;
}
